# CMake and Visual Studio build files
build/
out/
dlls/
.vs/
res/test_case/
res/test_service/
res/meshes/
bin/
Release_Package/
Release_Package*/
CMakeCache.txt
*.vcxproj*
*.sln*
*.suo

# Compiled artifacts
*.exe
*.dll
*.lib
*.obj
.aps
# mesh file
*.cgns
