# CMake and Visual Studio build files
build/
out/
dlls/
.vs/
res/test_case/
res/test_service/
res/meshes/
./bin
Release_Package/
Release_Package*/
3rdPartyInstall/
CMakeCache.txt
*.vcxproj*
*.sln*
*.suo

# Compiled artifacts
*.exe
*.dll
*.lib
*.obj
*.aps

res/PHengLEI_template/PHengLEIv3d0.exe
res/PHengLEI_template/tecio.dll
# mesh file
*.cgns
